@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Applies it to everything */
* {
  box-sizing: border-box;
}

/* Applies this to only the body element */
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Hides scrollbars in browsers by default */
  overflow: hidden;
  margin: 0;
}
